<div class="container">
  <div class="row mt-5">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-hover" style="cursor: pointer">
          <thead class="thead-light">
            <tr>
              <th class="border-0" scope="col">
                <div class="p-2 text-uppercase">Order</div>
              </th>
              <th scope="col" class="border-0">
                <div class="py-2 text-uppercase">Date</div>
              </th>
              <th scope="col" class="border-0">
                <div class="py-2 text-uppercase">Total</div>
              </th>
              <th scope="col" class="border-0">
                <div class="py-2 text-uppercase">Status</div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let order of orders"
              routerLink="/orders/{{ order.id }}"
            >
              <th># {{ order.id }}</th>
              <td>{{ order.orderDate | date: "medium" }}</td>
              <td>{{ order.total | currency }}</td>
              <td>{{ order.status }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
